<%- include('header') -%>


<ul>
    <% for(var i=0; i<content.length; i++) { %>
        <li>
            <a href='<%= content[i].data.slug %>'>
                <%= content[i].data.slug %>
            </a>
        </li>
    <% } %>
</ul>

<%- include('footer') -%>