<%- include('header') -%>


<ul>
    <% for(var i=0; i<content.length; i++) { %>
        <li>
            <a href='content/<%= content[i].content %>'>
                <%= content[i].content %>
            </a>
        </li>
    <% } %>
</ul>

<%- include('footer') -%>