* {
  margin: 0;
  padding: 0;
}
body{
  background-color: #eee;

}

html {
  box-sizing: border-box;
}
div#wrapperHeader {
  width:100%;
  height:500px;  /*height of the background image? */
  background:url(header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
 }

ul{
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
}
li{
  display: flex;
  flex-direction: column;
  width: inherit;
  list-style: none;
  padding-top: 50px;
  align-self: flex-end;
}
a{
  text-decoration: none;
  color: black;
}
li img{
  width: 400px;
  height: 265px;
  background-color: gray !important;
}

 div#wrapperHeader h {
    font-size: 70px;
    font-family: Roboto;
    font-weight: bolder;
    color: white;
 }

 h1 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 48px;
 }
 h2 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 32px;
 }
 h3 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 24px;
 }
 
 p {
  font-family: Lora;
  font-size: 16px;
 }
 p img{
   padding: 1%;
   width: -moz-available;
 }
 
 div#wrapperHeader div#header {
  display: flex;
  width:100%;
  height: 100%;
  justify-content: center;
  
 }
 
 div#wrapperHeader div#header img {
  width:100%; /* the width of the logo image */
  height: auto;
  margin:0 auto;
 }


*, *:before, *:after {
  box-sizing: inherit;
}
